@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

#card {
  background-color: white;
  height: 500px;
}

#number {
  font-size: 100px;
}

#topIcon {
  font-size: 100px;
  color: red;
}

#bottomIcon {
  font-size: 100px;
  color: red;
}
